<div class="section">
    <% if (books.length <= 0) { %>
        <div class="add-book">
            <div class="add-btn"><a href="/add-book" class="button">+</a></div>
        </div>
    <% } else { %>
        <% books.forEach(book => { %>
            <div class="book">
                <div>
                    <h2><%= book.title %></h2>
                    <h4><%= book.author %></h4>
                    <h4><%= book.pages %></h4>
                    <p>Date updated</p>
                    <div>
                        <% if (book.read) { %>
                            <button class="btn-lg green">Read</button>
                        <% } else { %>
                            <button class="btn-lg red">Not Read</button>
                        <% } %>
                        <div class="controls">
                            <a href="/edit-book/<%= book._id %>">Edit</a>
                            <form action="/<%= book._id%>?_method=DELETE" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                    </div>
            </div>

        <% }) %>
    <% } %>
    <div class="add-book">
        <div class="add-btn"><a href="/add-book" class="button">+</a></div>
    </div>
</div>